.section-3{
  background-image: linear-gradient(rgba(9,2,3,0.7),rgba(9,2,3,0.7)), url(../img/banner-2.jpg);
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0 2rem 0 2rem;
}



/* --------- Indicator ----------- */
.two{
  position: absolute;
  left: 4rem;
  bottom: 2rem;
}
.btn-2{
  background: transparent;
  border: 2px solid #d90429;
  height: 0.9rem;
  width: 5rem;
  margin: 0 0 0 2rem;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s;
}
.active-2{
  background-color: #d90429;
}


.slide2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 170rem;
  height: 100%;
  transition: 0.5s;
  transform: translateX(0);
}