.section-4 {
  padding: 2rem 4.5rem 2rem 4.5rem;
}

.image-2 {
  flex: 0.6;
  height: 140%;

  position: relative;
  top: -1rem;
  z-index: 50;

  background-image: linear-gradient(rgba(24, 6, 9, 0.7), rgba(24, 6, 9, 0.7)),
    url(../img/card-2.jpg);
  box-shadow: rgba(0, 0, 0, 0.4) 0px -2.5px 9px 10px;
  border-bottom: 0.3rem solid #ff0054;
}

.text-4 {
  flex: 1;
  color: black;
  margin-inline: 8rem;
  text-align: right;
}

.text-4 h2 {
  font-size: 2.5rem;
  color: #d90429;
}
.text-4 p {
  font-size: 0.9rem;
  margin-block: 1rem 2rem;
}
.text-4 span {
  color: #d90429;
  background: transparent;
  border: 3px solid #d90429;
  padding: 0.5rem 3rem;
  cursor: pointer;
  transition: 0.25s;
}
.text-4 span:hover {
  color: white;
  background-color: #d90429;
  border: 3px solid #d90429;
}
