.last-section {
  background-color: #252422;
  padding: 2rem 2rem 1rem 2rem;
}

/* --------- Footer ------------- */
.footer {
  display: flex;
  justify-content: space-between;
}
.footer-left ul {
  display: flex;
  list-style: none;
}
.footer-left ul li a {
  margin: 0 2rem;
  color: white;
  text-decoration: none;
}
.footer-left ul li a:hover {
  color: #d90429;
}

/* -------------- icons --------------- */
.name {
  margin: 3rem 2rem 1rem 2rem;
}
.fa-brands {
  font-size: 20px;
  margin-inline: 0.6rem;
  color: white;
  transition: 0.2s;
}
.fa-brands:hover {
  color: #d90429;
}
